---
import type { MarkdownHeading } from "astro";

interface TocItem extends MarkdownHeading {
	children: TocItem[];
}

interface Props {
	items: TocItem[];
	level?: number;
}

const { items, level = 0 } = Astro.props;
---

{
	items.length > 0 && (
		level === 0 ? (
			<ol class="space-y-1">
				{items.map((item, index) => (
					<li>
						<a href={`#${item.slug}`} class="px-2 flex gap-2 relative transition w-full min-h-9 rounded-xl hover:bg-[var(--toc-btn-hover)] active:bg-[var(--toc-btn-active)] py-2">
							<div class:list={["transition w-5 h-5 shrink-0 rounded-lg text-xs flex items-center justify-center font-bold",
								{
									"bg-[var(--toc-badge-bg)] text-[var(--btn-content)]": level === 0,
								}
							]}>
								{level === 0 && index + 1}
								{level === 1 && <div class="transition w-2 h-2 rounded-[0.1875rem] bg-[var(--toc-badge-bg)]"></div>}
								{level === 2 && <div class="transition w-1.5 h-1.5 rounded-sm bg-white/10"></div>}
                                {level > 2 && <div class="transition w-1 h-1 rounded-sm bg-white/10"></div>}
							</div>
							<div class:list={["transition text-sm", {
								"text-50": level === 0 || level === 1,
								"text-30": level >= 2,
							}]}>{item.text}</div>
						</a>
						{item.children.length > 0 && (
							<Astro.self items={item.children} level={level + 1} />
						)}
					</li>
				))}
			</ol>
		) : (
			<ul class="pl-4 space-y-1">
				{items.map((item) => (
					<li>
						<a href={`#${item.slug}`} class="px-2 flex gap-2 relative transition w-full min-h-9 rounded-xl hover:bg-[var(--toc-btn-hover)] active:bg-[var(--toc-btn-active)] py-2">
							<div class:list={["transition w-5 h-5 shrink-0 rounded-lg text-xs flex items-center justify-center font-bold",
								{
									"bg-[var(--toc-badge-bg)] text-[var(--btn-content)]": level === 0,
								}
							]}>
								{level === 0 && "0"} {/* Should not happen for ul if level 0 is ol */}
								{level === 1 && <div class="transition w-2 h-2 rounded-[0.1875rem] bg-[var(--toc-badge-bg)]"></div>}
								{level === 2 && <div class="transition w-1.5 h-1.5 rounded-sm bg-white/10"></div>}
                                {level > 2 && <div class="transition w-1 h-1 rounded-sm bg-white/10"></div>}
							</div>
							<div class:list={["transition text-sm", {
								"text-50": level === 0 || level === 1,
								"text-30": level >= 2,
							}]}>{item.text}</div>
						</a>
						{item.children.length > 0 && (
							<Astro.self items={item.children} level={level + 1} />
						)}
					</li>
				))}
			</ul>
		)
	)
}
